<!-- 登录页 -->

{% extends 'views/base.html' %}

{% block style %}
<link rel="stylesheet" href="styles/signup.css">
{% endblock %}

{% block body %}
<div class="container" style="height: 230px">
    <form action="/signin" method="POST">
            <div class="field">
                <div class="label">用户名</div>
                <div class="control">
                    <input type="text" name='username' class="input" placeholder="请输入用户名">
                </div>
            </div>
            <div class="field">
                <div class="label">密码</div>
                <div class="control">
                    <input type="password" name='password' class="input" placeholder="请输入密码">
                </div>
            </div>
            <div class="field grouped">
                <div class="control">
                    <button class="button btn-primary">立即登录</button>
                </div>
                <div class="control">
                    <a href="/signup" class="button btn-text">没有账号，去注册</a>
                </div>
            </div>
        </form>
</div>
{% endblock %}