    <!-- 消息闪回 -->
    {% if ctx.flash %}
    <div class="notifications" style="
        position: fixed;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        color: #fff;">
        {% if ctx.flash.success %}
        <div class="is-success notification" style="background: #1abc9c;
            padding: 5px 10px;
            border-radius: 5px;">
            {{ ctx.flash.success }}
        </div>
        {% elif ctx.flash.warning %}
        <div class="is-warning notification" style="background: #f1c40f;
            padding: 5px 10px;
            border-radius: 5px;">
            {{ ctx.flash.warning }}
        </div>
        {% endif %}
        <script>
            let n = document.querySelector('.notifications')
            setTimeout(() => {
                n.style.top = '-20%'
            }, 2000);
        </script>
    </div>
    {% endif %}