    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        width: 400px;
        height: 360px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    form {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .field {
        flex-shrink: 1;
        margin-left: 30px;
        margin-top: 10px;
    }

    .control {
        width: 90%;
    }

    .label {
        font-size: 16px;
        font-weight: bold;
    }

    .input {
        margin-top: 5px;
        width: 100%;
        height: 26px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
    }

    .input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #ccc;
    }

    .grouped {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
    }

    .btn-primary {
        width: 90px;
        height: 30px;
        border: none;
        color: #fff;
        border-radius: 3px;
        background: #1abc9c;
        cursor: pointer;
    }

    .btn-primary:focus {
        /* outline: 2px solid #3498db;  */
        /* outline 模拟圆角 */
        border-radius: 2px;
        box-shadow: 0 0 0 2px #3498db;
    }

    .btn-text {
        color: #3498db;
        text-decoration: none;
    }